# Variaveis de ambiente e segredos
.env
*.env

# Ambientes virtuais Python
venv/
.venv/
env/
ENV/

# Arquivos de cache do Python
pycache/
*.py[cod]
*$py.class
*.so
.Python

# Configuracoes de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Logs e arquivos temporarios
*.log
.DS_Store